/* custom styles */

.fa-pointer{cursor: pointer}
.cursor-pointer{cursor: pointer}

ul.recursive{}
ul.recursive > li {
    margin-left: 15px;
    color:grey;
    cursor: pointer;
}

ul.recursive > li.collapsed{
    color:#000;
}

ul.recursive > li + li{
    display:none;
}

ul.recursive > li.collapsed + li{
    display:block;
}

.green{color: #008000}
.red{color: #ff3333}
.bg-light-blue{background-color: #ecf2f5}
.font-ccc{color:#cccccc;}

.font-bold{
    font-weight:bold;
}

/* override multiselect */
.dropdown-menu.multiselect{
    max-height: 400px;
    overflow-y: scroll;  
    z-index: 1000;   
}

/* override table */
table#table-edit td{
    padding-top:6px;
    padding-bottom: 4px;
    height: 30px; 
}

table#table-edit tr.blank_row td{
    height: 22px; 
}

/*MultiSelectSimple*/
.multiselect-simple .item{
    cursor: pointer;
}

.multiselect-simple .item.checked{
    background-color: #dce5ec
}

/* screen wrapper */
.screen_wrapper{
    position: relative;
}

.screen_wrapper .title{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 7px 20px 7px 20px;
    font-size: 1.2rem;
    background-color: #000;
    color: #f1f1f1;
    opacity: 0.5;
    max-width: 60%;
    font-size: 0.9rem;
}

.screen_wrapper .title span{
    padding-left: 20px;
}

.screen_wrapper .keyboards{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 7px 20px 7px 20px;
    font-size: 0.9rem;
    background-color: #000;
    color: #f1f1f1;
    opacity: 0.5;
    min-width: 200px;
    max-width: 40%;
    overflow-y: scroll;
}

.screen_wrapper .keyboards .keyboard{
    border-bottom: 1px solid #444;
}

.screen_wrapper .keyboards .keyboard:last-child{
    border-bottom: 0;
}

.screen_wrapper .keyboards .keyboard div.time{
    display: block;
}

.screen_wrapper .keyboards .keyboard span{
    background-color: #444;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

/* override control-panel-container */
.control-panel.open .control-panel-container{
    overflow: scroll !important;
}


/* messages */
.mail-box-item .bold{
    font-weight: bold;
}
