Hello {{ user.first_name }} {{ user.first_name }}!<br /><br />

You received this email because you clicked the forgot password link on our website. <br /><br />

You can now set new password by clicking this link:<br /><br />

{{ reset_password_link }}

<br /><br />
Thanks!
screent.co